/* Adapted from: https://www.swyx.io/css-100-bytes */
html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  /* https://systemfontstack.com/ */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 1em;
}
p,
ul,
ol,
table {
  margin-bottom: 2em;
}
blockquote {
  font-style: italic;
  padding: 0 1em;
  border-left: 5px solid grey;
  border-radius: 5px;
}
code,
pre {
  /* https://systemfontstack.com/ */
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}
code,
pre {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 2px;
}
pre {
  padding: 1em;
  overflow: auto;
}
